html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: sans-serif, Microsoft JhengHei;
}

a {
  text-decoration: none;
}

/* grid */
/*  {
    @include susy-breakpoint($break-md, 6){
    }
    
    @include susy-breakpoint($break-sm, $content){
    }
}*/
/* base */
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

h2 {
  font-size: 48px;
  font-weight: bold;
}

h3 {
  font-size: 36px;
  font-weight: bold;
}

.h5 {
  font-size: 34px;
  color: #fff;
  font-weight: bold;
}

.text-sm {
  font-size: 18px;
}

.text-xs {
  font-size: 14px;
}

.link-btn-1 {
  font-size: 18px;
  line-height: 36px;
  padding: 10px 20px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.link-btn-1:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.link-btn-2 {
  font-size: 18px;
  line-height: 36px;
  font-weight: bold;
  color: #565a5c;
  background-color: #fff;
  border: 1px solid #d7d9da;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.link-btn-2:hover {
  border: 1px solid #a2a7a9;
}

.styled-select {
  background-color: #fff;
  overflow: hidden;
  background: url(../images/icon_people_01.png) 97% center no-repeat;
}

.styled-select select {
  background: transparent;
  line-height: 36px;
  height: 36px;
  font-size: 14px;
  color: #565a5c;
  width: 115%;
  padding: 0 10px;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  color: #999;
}

.btn-submit {
  line-height: 36px;
  font-size: 14px;
  background-color: #ff5a5f;
  width: 100%;
  padding: 0;
  border: none;
  color: #fff;
  cursor: pointer;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.btn-color-1 {
  background: #007a87;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 10px;
}

.btn-color-2 {
  background: #393c3d;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 10px;
}

.btn-color-3 {
  background: #7b0051;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 10px;
}

.btn-color-4 {
  background: #0268b3;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 10px;
}

#supersize {
  position: fixed;
}

#supersize img, #supersize a {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
}

#supersize .prevslide, #supersize .prevslide img {
  z-index: 1;
}

#supersize .activeslide, #supersize .activeslide img {
  z-index: 2;
}

/* index */
body {
  background-color: #edefed;
}

.header {
  position: relative;
  z-index: 9999;
  overflow: auto;
  padding: 10px 15px;
}
.header .logo img {
  width: 32px;
}
.header .hide-menu {
  display: none;
}
.header .navbar {
  padding: 2px 0;
}
.header .navbar a {
  display: inline-block;
  position: relative;
  color: #fff;
  font-size: 14px;
  margin-right: 30px;
  line-height: 28px;
  padding-right: 32px;
  text-shadow: 0px 0 10px rgba(86, 90, 92, 0.5);
}
.header .navbar a i {
  position: absolute;
  top: 2px;
  right: 0;
  display: block;
  width: 24px;
  height: 24px;
  line-height: 28px;
}
.header .navbar a i img {
  display: block;
  width: 24px;
}
.header .navbar .host {
  padding: 0 10px;
  border: 2px solid #fff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.header .navbar .host:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.header .navbar .user {
  margin-right: 0;
  padding-right: 34px;
}
.header .navbar .user i {
  top: 0;
  width: 28px;
  height: 28px;
}
.header .navbar .user i img {
  width: 28px;
  border: solid 2px #fff;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
@media (max-width: 695px) {
  .header {
    background: #fff;
  }
  .header .logo {
    display: none;
  }
  .header .navbar {
    display: none;
  }
  .header .hide-menu {
    display: block;
    position: relative;
  }
  .header .hide-menu .logo-r a {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
  }
  .header .hide-menu .logo-r a img {
    width: 32px;
  }
  .header .hide-menu .menu {
    position: absolute;
    top: 0;
    padding: 5px 0;
  }
  .header .hide-menu .menu img {
    width: 24px;
  }
}

.bn-slideshow {
  position: absolute;
  z-index: 9990;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.bn-content {
  position: relative;
  z-index: 9999;
  padding: 150px 0;
  text-align: center;
  color: #fff;
  text-shadow: 0px 0 10px rgba(86, 90, 92, 0.5);
}
.bn-content p {
  line-height: 2em;
  padding: 7px 0 15px 0;
}
@media (max-width: 695px) {
  .bn-content {
    padding: 80px 0 50px 0;
  }
  .bn-content h2 {
    font-size: 36px;
  }
  .bn-content p {
    padding: 7px 30px 15px 30px;
    font-size: 14px;
  }
  .bn-content .link-btn-1 {
    display: none;
  }
}

.searchbar {
  position: relative;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.searchbar form {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #fff;
}
.searchbar form:after {
  content: " ";
  display: block;
  clear: both;
}
.searchbar form label input {
  border: none;
  padding: 0 10px;
  line-height: 36px;
  font-size: 14px;
  background: none;
}
.searchbar form label .location, .searchbar form label .checkin, .searchbar form label .checkout, .searchbar form label .people {
  margin: 0;
}
.searchbar form label .location {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 41.6666666667%;
  float: left;
}
.searchbar form label .checkin {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 18.3333333333%;
  float: left;
  padding-right: 8.3333333333%;
  background: url(../images/icon_date_01.png) 100px center no-repeat;
}
.searchbar form label .checkout {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 15%;
  float: left;
}
.searchbar form label .people {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 16.6666666667%;
  float: left;
}
.searchbar form label .location, .searchbar form label .checkout {
  border-right: 1px solid #d7d9da;
}
.searchbar form .submit {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 8.3333333333%;
  float: left;
  margin: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 1px solid #ff272e;
  border-right: 1px solid #ff272e;
}
@media (max-width: 695px) {
  .searchbar {
    padding: 30px;
  }
  .searchbar form label .checkin, .searchbar form label .checkout, .searchbar form label .people {
    display: none;
  }
  .searchbar form label .location {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 75%;
    float: left;
  }
  .searchbar form .submit {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
  }
}

.container {
  position: relative;
  z-index: 9999;
  background-color: #edefed;
  padding-top: 50px;
}

.sort-wrap .sort {
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}
.sort-wrap .sort:after {
  content: " ";
  display: block;
  clear: both;
}
.sort-wrap .sort h3, .sort-wrap .sort p {
  text-align: center;
  color: #565a5c;
}
.sort-wrap .sort h3 {
  margin-bottom: 10px;
}
.sort-wrap .sort .place {
  width: 98.3333333333%;
  float: left;
  margin-left: 0.8333333333%;
  margin-right: 0.8333333333%;
  overflow: auto;
  margin-top: 15px;
  margin-bottom: 30px;
}
.sort-wrap .sort .place li {
  width: 31.6666666667%;
  float: left;
  margin-left: 0.8333333333%;
  margin-right: 0.8333333333%;
  height: 345px;
  margin-top: 0.8333333333%;
  margin-bottom: 0.8333333333%;
  overflow: hidden;
  background-color: black;
}
.sort-wrap .sort .place li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.sort-wrap .sort .place li a img {
  position: absolute;
  height: 100%;
  z-index: 9994;
}
.sort-wrap .sort .place li a .h5 {
  position: relative;
  top: 45%;
  z-index: 9995;
  text-align: center;
  text-shadow: 0px 0 10px rgba(86, 90, 92, 0.5);
}
.sort-wrap .sort .place li a:hover img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
.sort-wrap .sort .place li a:hover .host-img img {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.sort-wrap .sort .place-layout li:nth-child(1), .sort-wrap .sort .place-layout li:nth-child(7) {
  width: 65%;
  float: left;
  margin-left: 0.8333333333%;
  margin-right: 0.8333333333%;
}
.sort-wrap .sort .place-layout li:nth-child(1) a img, .sort-wrap .sort .place-layout li:nth-child(7) a img {
  width: 100%;
  height: auto;
}
.sort-wrap .sort .place-layout .house .host-img {
  position: relative;
  z-index: 9995;
  top: 25%;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  overflow: hidden;
  border: 2px solid #fff;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.sort-wrap .sort .place-layout .house .h5 {
  top: 30%;
  font-size: 24px;
  font-weight: normal;
}
.sort-wrap .sort .place-layout .house .h5 span {
  font-size: 14px;
}
.sort-wrap .sort .place-layout .house .price {
  position: relative;
  top: 45%;
  z-index: 9995;
}
.sort-wrap .sort .place-layout .house .price span {
  display: inline-block;
  padding: 10px;
  color: #fff;
  background-color: #565a5c;
}
.sort-wrap .sort .link-btn-2 {
  clear: both;
  display: block;
  width: 31.6666666667%;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 970px) {
  .sort-wrap .sort {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
  .sort-wrap .sort:after {
    content: " ";
    display: block;
    clear: both;
  }
  .sort-wrap .sort .place li {
    width: 48.3333333333%;
    float: left;
    margin-left: 0.8333333333%;
    margin-right: 0.8333333333%;
  }
  .sort-wrap .sort .place li:first-child {
    width: 98.3333333333%;
    float: left;
    margin-left: 0.8333333333%;
    margin-right: 0.8333333333%;
  }
  .sort-wrap .sort .place li:first-child img {
    width: 100%;
    height: auto;
  }
  .sort-wrap .sort .place-layout li:nth-child(8) {
    width: 98.3333333333%;
    float: left;
    margin-left: 0.8333333333%;
    margin-right: 0.8333333333%;
  }
  .sort-wrap .sort .place-layout li:nth-child(8) a img {
    width: 100%;
    height: auto;
  }
  .sort-wrap .sort .place-layout li:nth-child(7) {
    width: 48.3333333333%;
    float: left;
    margin-left: 0.8333333333%;
    margin-right: 0.8333333333%;
  }
  .sort-wrap .sort .place-layout li:nth-child(7) a img {
    width: auto;
    height: 100%;
  }
  .sort-wrap .sort .link-btn-2 {
    width: 98.3333333333%;
  }
}
@media (max-width: 695px) {
  .sort-wrap .sort {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .sort-wrap .sort:after {
    content: " ";
    display: block;
    clear: both;
  }
  .sort-wrap .sort .place {
    width: 100%;
    margin: 0;
  }
  .sort-wrap .sort .place li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin: 0;
    height: auto;
  }
  .sort-wrap .sort .place li a img {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
  }
  .sort-wrap .sort .place li a .h5 {
    position: absolute;
    top: 45%;
    left: 50%;
    margin-left: -150px;
    width: 300px;
  }
  .sort-wrap .sort .place li:first-child {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin: 0;
  }
  .sort-wrap .sort .place-layout {
    width: 100%;
    margin: 0;
  }
  .sort-wrap .sort .place-layout li:nth-child(7), .sort-wrap .sort .place-layout li:nth-child(8) {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin: 0;
  }
  .sort-wrap .sort .place-layout li:nth-child(7) a img, .sort-wrap .sort .place-layout li:nth-child(8) a img {
    width: 100%;
    height: auto;
  }
  .sort-wrap .sort .place-layout .house .host-img {
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -35px;
  }
  .sort-wrap .sort .place-layout .house .h5 {
    position: absolute;
    top: 45%;
  }
  .sort-wrap .sort .place-layout .house .price {
    position: absolute;
    top: 70%;
  }
  .sort-wrap .sort .link-btn-2 {
    display: none;
  }
}

.slide {
  overflow: hidden;
  height: 600px;
}
.slide .slide-info {
  padding-top: 200px;
}
@media (max-width: 695px) {
  .slide {
    display: none;
  }
}
.slide .slides-navigation a {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
.slide .slides-navigation a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.community-wrap {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-left: 0.8333333333%;
  margin-right: 0.8333333333%;
  padding: 50px 0 0 0;
}
.community-wrap:after {
  content: " ";
  display: block;
  clear: both;
}
.community-wrap h3 {
  color: #565a5c;
  text-align: center;
  margin-bottom: 40px;
}
.community-wrap .community {
  color: #fff;
  overflow: auto;
}
.community-wrap .community li {
  width: 23.3333333333%;
  float: left;
  margin-left: 0.8333333333%;
  margin-right: 0.8333333333%;
  height: 400px;
  overflow: hidden;
  background-color: black;
  margin-bottom: 20px;
}
.community-wrap .community li a {
  color: #fff;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}
.community-wrap .community li a img {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 9994;
}
.community-wrap .community li a .btn {
  position: relative;
  z-index: 9995;
  top: 0;
}
.community-wrap .community li a .h5, .community-wrap .community li a .p-text {
  position: relative;
  z-index: 9995;
  text-shadow: 0px 0 10px rgba(86, 90, 92, 0.5);
}
.community-wrap .community li a .h5 {
  margin-top: 210px;
  margin-bottom: 10px;
}
.community-wrap .community li a .p-text {
  padding: 0 10px;
  line-height: 1.5em;
}
.community-wrap .community li a .p-text u {
  display: block;
  margin-top: 10px;
}
.community-wrap .community li a:hover img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
@media (max-width: 970px) {
  .community-wrap .community li {
    width: 48.3333333333%;
    float: left;
    margin-left: 0.8333333333%;
    margin-right: 0.8333333333%;
    height: 500px;
  }
  .community-wrap .community li a .h5 {
    margin-top: 320px;
  }
}
@media (max-width: 695px) {
  .community-wrap {
    display: none;
  }
}

footer {
  color: #fff;
  background: url(../images/footer_lodyas.png);
  padding: 50px 0;
}
footer .footer, footer .follow {
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
}
footer .footer:after, footer .follow:after {
  content: " ";
  display: block;
  clear: both;
}
footer .footer {
  border-bottom: 1px solid #565a5c;
  padding-bottom: 50px;
}
footer .footer .language {
  width: 23.3333333333%;
  float: left;
  margin-left: 0.8333333333%;
  margin-right: 0.8333333333%;
  margin: 0 10%;
}
footer .footer .language .styled-select {
  background-color: #565a5c;
  margin-bottom: 15px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
footer .footer .language .styled-select select {
  color: #fff;
  font-size: 18px;
  line-height: 48px;
}
footer .footer .footer-container {
  width: 15%;
  float: left;
  margin-left: 0.8333333333%;
  margin-right: 0.8333333333%;
}
footer .footer .footer-container h4 {
  margin-bottom: 15px;
}
footer .footer .footer-container ul {
  font-size: 14px;
}
footer .footer .footer-container ul li {
  line-height: 1.5em;
}
footer .footer .footer-container ul li a {
  color: #cccccc;
}
@media (max-width: 970px) {
  footer .footer {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
  footer .footer:after {
    content: " ";
    display: block;
    clear: both;
  }
  footer .footer a {
    font-size: 12px;
  }
}
@media (max-width: 695px) {
  footer .footer {
    border-bottom: none;
  }
  footer .footer .language {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0 30px;
  }
  footer .footer .footer-container {
    display: none;
  }
}
footer .footer-hide {
  display: none;
}
@media (max-width: 695px) {
  footer .footer-hide {
    display: block;
    text-align: center;
  }
  footer .footer-hide a {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    margin: 0 5px;
  }
}
footer .follow {
  padding-top: 30px;
  text-align: center;
}
footer .follow a {
  display: inline-block;
  margin: 15px 5px;
  width: 36px;
  height: 36px;
  border: 1px solid #565a5c;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
footer .follow .icon-fb {
  background: url(../images/icon_f_fb.png) center center no-repeat;
}
footer .follow .icon-go {
  background: url(../images/icon_f_go.png) center center no-repeat;
}
footer .follow .icon-pin {
  background: url(../images/icon_f_pin.png) center center no-repeat;
}
footer .follow .icon-tw {
  background: url(../images/icon_f_tw.png) center center no-repeat;
}
footer .follow .copy {
  color: #565a5c;
}
@media (max-width: 970px) {
  footer .follow {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
  footer .follow:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (max-width: 695px) {
  footer .follow h4 {
    display: none;
  }
}
