$fontSize-xs: 14px;
$fontSize-sm: 18px;
$fontSize-md: 32px;
$fontSize-lg: 48px;

$Color-w: #fff;
$Color-gr: #565a5c;

$bg-Color: #edefed;

$types: (
    color-1: #007a87,
    color-2: #393c3d,
    color-3: #7b0051,
) !default;
